html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted #ff7500;
	outline-offset: 3px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
	letter-spacing: 0.5px;
}

/* CONTAINER */
.container {
	max-width: 1140px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	display: flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 12px 24px;
	background-color: #ff7500;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}

/* SITE_HEADER */
.site-header {
	padding-top: 16px;
	padding-right: 16px;
}

.site-header {
	border-top: 5px solid #ff7500;
}

.site-header-container {
	display: flex;
	align-items: center;
}

.logo-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-right: auto;
	transition: opacity 0.4s ease;
}

.logo-link:hover {
	opacity: 0.8;
}

.logo-link:active {
	opacity: 0.6;
}

.logo-img {
	width: 38px;
	height: 60px;
	object-fit: cover;
	margin-right: 12px;
}

.logo-title {
	color: #252420;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.logo-span {
	color: #ff7500;
}

.site-nav {
	margin-right: 32px;
}

.site-list {
	list-style: none;
	display: flex;
	align-items: center;
}

.site-item:not(:last-child) {
	margin-right: 32px;
}

.site-item .active {
	width: 92px;
	height: 3px;
	border-bottom: 3px solid #ff7500;
	padding-bottom: 4px;
}

.site-item-link {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: color 0.4s ease, opacity 0.4s ease;
}

.site-item-link:hover {
	color: #ff7500;
}

.site-item-link:active {
	opacity: 0.6;
}
